@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: roboto;
    margin: 0px;
}

/* Flexbox containers */
header{

    display: flex;
    flex-direction: column;

}

nav{

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0;
    background: #1F2937;

    /* font declarations */
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    color: #F9FAF8;
    text-decoration: none;
}