@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body{
    font-family: roboto;
    margin: 0px;
}


header{

    display: flex;
    flex-direction: column;

    background: #1F2937;

    /* text color */
    color: #F9FAF8;

}

/*  
    ###################
    - Align navigation 
    ##################
*/
nav{

    /* display */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 16px;
    margin: 0;

}

.logo{
    font-size: 24px;
}

/* Remove the dots from lists */
ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    list-style: none;
}

/* Remove the lines from links */
a{
    color: #F9FAF8;
    text-decoration: none;
}

/*  
    #####################
    - Website is Awesome 
    #####################
*/
.awesome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    padding: 32px;
}

.text{
    max-width: 400px;
}

.text h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

button.call{

    width: 100px;
    height: 30px;
    border-radius: 5px;
    color:#F9FAF8;
    background: #3882F6;
    border-style: none;

}


.resize{
    width: auto;
    height: 200px;
}

/*  
    #####################
    - Random Information 
    #####################
*/
.info-text{
    text-align: center;
    padding: 0px;

    font-size: 36px;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 16px;
    text-align: center;
}

.info{
    max-width: 100px;
}

.stock{
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

/*  
    #####################
    - Quote Section
    #####################
*/
.quote-section{
    display: flex;
    justify-content: center;
    padding: 64px;
    background: #E5E7EB;
}

q{
    display: block;
    width: 800px;
    font: italic 36px roboto;
}

h2{
    text-align: right;
    padding: 0;
    margin: 0;
}